body{
    height: 100vh;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    margin-bottom: 5%;
    width: 80%;
    position: relative;
    left: 10%;
}

.formularioLogin{
    text-align: center;
    border: 4px #ff6b08 solid ;
    border-radius: 15px;
    width: 100%;
    padding: 8px;
    box-shadow: 0 0 20px #ff6b08;
}

main a{
    text-decoration: underline;
    cursor: pointer;
    color: #ff6b08;
}

label{
    padding-top: 4%;
    display: block;
}

input, textarea{
    color: #fff;
    border: 1px solid white;
    border-radius: 10px;
    width: 75%;
    background: none;
    padding: 1%;
}

.bttn-submit{
    width: 50%;
    background-color: #ff6b08;
    cursor: pointer;
}

.checkboxing{
    display: grid;
    grid-template-columns: auto auto;
    justify-items: start;
    justify-content: center;
}

footer{
    position: relative;
    width: 100%;
    bottom: 0;
}