h1,
h2,
h3,
h4,
h5,
h6 {
    color: #FF6B08;
    text-align: center;
    font-size: 5vh;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
}

body {
    font-family: "Bebas Neue", sans-serif;
    background-color: #191919;
}



header,
footer {
    color: #E8E8E8;
    background-color: #000000;
}

a {
    text-decoration: none;
    color: #E8E8E8;
}

ul {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

li {
    list-style: none;
}

header,
footer {
    color: #E8E8E8;
    background-color: #000000;

}

header {
    display: grid;
    padding-top: 15px;
    padding-bottom: 15px;
    grid-template-columns: repeat(2, auto);
    position: sticky;
    top: 0px;
    width: 100%;
}

.bars-svg {
    width: 60px;
    height: 50px;
}

nav {
    display: none;
    font-size: larger;
}

header li {
    margin-left: 6px;
    margin-right: 6px;
}

span#title {
    font-weight: 700;
    font-size: x-large;
}

#title span {
    color: #FF6B08;
    font-weight: 900;
}


div#logo-title {
    display: flex;
    align-items: center;
}

.img-logo {
    width: 60px;
    height: 60px;
}

/*MAIN INDEX*/

main {
    background-color: #191919;
}

#features {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.flotante-feature {
    float: inline-start;
}

.feature {
    position: relative;
    left: 10%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.feature img {
    width: 40%;
    height: 300px;
}

/*PERDIDA DE PESO*/

.fondo {
    width: 100%;
    height: 600px;
    opacity: 70%;
}

.informacionPD {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.informacionPD .contenido-izquierda {
    flex: 1;
    padding-right: 20px;
    /* Espacio entre la parte izquierda y la imagen */
}

.informacionPD h1 {
    text-align: left;
    font-size: 4vh;
    font-family: Inter, sans-serif;
    font-weight: bold;
}

.informacionPD p {
    font-size: 3vh;
    color: white
}

.informacionPD button {
    margin-bottom: 15px;
    border: white;
    border-radius: 10%;
    width: 10%;
    height: 40px;
    color: #f2f4f7;
    background-color: #FF6B08;
}

.informacionPD img {
    max-width: 350PX;
    height: auto;
    /* Hace que la altura se ajuste automáticamente según el ancho */
}

.informacionPD button {
    text-align: center;
}

.entrenamientos,
.monitoreo,
.enfoque {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.entrenamientos p,
.monitoreo p,
.enfoque p {

    color: #E8E8E8;
    text-align: center;
    font-size: 2.5vh;

}



    .entrenamientos button,
    .monitoreo button,
    .enfoque button {
        align-items: center;
        text-align: center;
        border: white;
        border-radius: 10%;
        width: 10%;
        height: 40px;
        color: #f2f4f7;
        background-color: #262424;

    }




    .teaser-bg {
        position: relative;
        display: inline-block;
    }

    .titulo {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #E8E8E8;
        font-size: 4vh;
    }

    .caja1,
    .caja2,
    .caja3 {
        width: 300px;
        height: 200px;
        background-color: #f1f1f1;
        border: 1px solid #ddd;
        border-radius: 20px;
        margin: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .cajas {
        text-align: center;
        justify-content: center;
        display: flex;

    }

    .entrenamientos button,
    .monitoreo button,
    .enfoque button {
        align-items: center;
        text-align: center;
        border: white;
        border-radius: 10%;
        width: 10%;
        height: 40px;
        color: #f2f4f7;
        background-color: #262424;

    }

    /*IMAGEN DE FONDO INDEX*/

    .teaser-bg {
        position: relative;
        display: inline-block;
    }

    .titulo {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #E8E8E8;
        font-size: 4vh;
    }

    /*OPINIONES*/

    .caja {
        width: 300px;
        height: 200px;
        background-color: #f1f1f1;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .cajas {
        text-align: center;
        justify-content: center;
        display: flex;
    }

    .cajas h1 {
        display: flex;
    }

    .cajas img {
        width: 10%;
        height: 15%;
        border-radius: 50%;
    }

    .informacioncaja {
        width: 100%;
        height: 100%;
    }

    .opinion {
        line-height: 1.5;

    }

    .nombre {
        font-size: 14px;
        font-weight: bold;
        margin: 5px 0;
    }

    .email {
        font-size: 14px;
        color: #0084b4;
        margin: 0;
    }

    .informacioncaja {
        width: 100%;
        height: 100%;
    }

    .opinion {
        line-height: 1.5;

    }

    .nombre {
        font-size: 14px;
        font-weight: bold;
        margin: 5px 0;
    }

    .email {
        font-size: 14px;
        color: #0084b4;
        margin: 0;
    }

    /*ACORDEON DE PREGUNTAS FRECUENTES*/
    #faqs {
        position: relative;
        left: 10%;
        width: 80%;
        margin-block: 15px;
    }


    .accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
    }

    div#faqs :nth-child(2) {
        border-radius: 10px 10px 0 0;
    }

    .active,
    .accordion:hover {
        background-color: #ccc;
    }

    .panel {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }

    .accordion:after {
        content: '\02795';
        /* Unicode character for "plus" sign (+) */
        font-size: 13px;
        color: #777;
        float: right;
        margin-left: 5px;
    }

    .active:after {
        content: "\2796";
        /* Unicode character for "minus" sign (-) */
    }

    /*CONTACTO*/
    #contacto {
        width: 80%;
        position: relative;
        left: 10%;
        margin-bottom: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #contacto input,
    textarea {
        border: 2px solid gray;
        border-radius: 15px;
    }


    /*FOOTER*/

    footer {
        padding-block: 15px;
    }

    footer ul {
        display: flex;
        justify-content: center;
    }

    footer li {
        margin-inline: 10px;
    }

    footer li img {
        width: 50px;
        height: 50px;
    }


    /*CAJAS PANEL */
    .titulopanel {
        color: #E8E8E8;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
    }

    .cajaspanel {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

        width: 50%;
        justify-content: center;
        align-items: baseline;
        margin-top: 10%;
    }

    .cajap {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        text-align: center;

    }

    .cajap h1 {
        margin-bottom: 20px;
    }

    .cajap img {
        width: 250px;
        height: 250px;
        border-radius: 10px;
    }

    /*CAJAS CONTRATOS*/
    .cajascontratoarriba {
        display: flex;
        justify-content: center;
        margin: 10px;
        border-radius: 20px solid;
        gap: 10px;
        margin-top: 15%;
    }

    .cajascontratoabajo {
        display: flex;
        justify-content: center;
        margin: 10px;
        padding: 0%;
        gap: 10px;
    }

    .cajascontratoarriba button,
    .cajascontratoabajo button {
        margin-bottom: 15px;
        border: white;
        border-radius: 10%;
        width: 40%;
        height: 40px;
        color: #f2f4f7;
        background-color: #FF6B08;
    }

    .cajac {
        width: 200px;
        background-color: #f0f0f0;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(204, 3, 3, 0.1);
    }

    .informacioncajac {
        text-align: center;
    }

    .informacioncajac img {
        width: 100%;
    }

    .opinionc {
        margin-top: 10px;
    }

    .nombrec {
        font-weight: bold;
        margin: 10px 0;
    }


    .cajascontratoabajo p {

        color: #FF6B08;
        font-size: 4vh;
    }

    .redes {
        display: flex;
        justify-content: space-evenly;

    }

    .redes img {


        width: 60px;
        height: 40px;

    }

    .redes h2 {
        font-size: 3vh;
    }

    .informacioncajac li {
        text-align: left;
        justify-content: center;
        align-content: center;
    }



    /*MEDIA QUERY WEB*/

    @media only screen and (min-width: 620px) {
        nav {
            display: block;
            grid-row: 1;
            grid-column: 2;
        }

        nav li {
            display: inline;
        }

        .bars-svg {
            display: none;
        }


        header {
            justify-content: space-between;
        }
    }

    /*MEDIA QUERY MOVIL*/

    @media only screen and (max-width: 620px) {
        .cajas {
            flex-direction: column;
            align-items: center;
        }
    }