h1, h2, h3, h4, h5, h6{
    color: #FF6B08;
    text-align: center;
    font-size: 4vh;
    font-family: Inter, sans-serif;
    font-weight: bold;
}

body{

    background-color:#191919;
    }

header, footer{
    color: #E8E8E8;
    background-color: #000000;
}

main{
    background-color: #191919;
}

a{
    text-decoration: none;
    color: #E8E8E8;
}

ul{
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

li{
    list-style: none;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header li{
    display: inline;
    margin-left: 6px;
    margin-right: 6px;
}

span#title{
    font-weight: 700;
    font-size: x-large;
}

#title span{
    color: #FF6B08;
    font-weight: 900;
}

/*PERDIDA DE PESO ESTILO*/

.logo {
    width: 0px; /* Ancho de la imagen */
    height: 50px; /* Alto de la imagen */
   }

.logo-pos {
 position: absolute;
 top: 50px; /* Espacio desde la parte superior */
 left: 50px; /* Espacio desde la izquierda */
}


.fondo {
    width: 100%;
    height: 600px;
    opacity: 70%;
}

.informacionPD {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.informacionPD .contenido-izquierda {
    flex: 1;
    padding-right: 20px; /* Espacio entre la parte izquierda y la imagen */
}

.informacionPD h1 {
    text-align: left;
    font-size: 4vh;
    font-family: Inter, sans-serif;
    font-weight: bold;
  }
  
.informacionPD p{
    font-size: 3vh;
    color: white

}
.informacionPD button {
    margin-bottom: 15px;
    border: white;
    border-radius: 10%;
    width: 10%;
    height: 40px;
    color: #f2f4f7;
    background-color: #FF6B08;
}

.informacionPD img {
    max-width: 350PX;
    height: auto; /* Hace que la altura se ajuste automáticamente según el ancho */
}
.informacionPD button{
    text-align: center;
}
  
  
  .entrenamientos p{

    color: #E8E8E8;
    text-align: center;
    
      }




      .entrenamientos button{
        text-align: center;

      }



      .monitoreo p{

color: #E8E8E8;

  }

  .enfoque p{

    color: #E8E8E8;
    
      }

      .teaser-bg {
        position: relative;
        display: inline-block;
      }
      
      .titulo {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #E8E8E8;
        font-size: 4vh;
      }
      

/*MEDIA QUERY WEB*/

@media only screen and (min-width: 620px){
    header{
        flex-direction: row;
    }
}